[Unit]
Description=GMMS Mobile (Scooter) Node service
After=network.target

[Service]
WorkingDirectory=/home/pi/scooter
ExecStart=/bin/sh -c 'venv/bin/python main.py'
Restart=always
User=root
Type=simple
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
